<a href="https://colab.research.google.com/github/thuanlam92/Thuan_INFO5731_Spring2020/blob/master/In_Class_Exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
x = "Helllo, World!"
print(len(x))

14

In [2]:
#2
x = "Hello, World!"
def count_char(x):
  dict = {}
  for n in x:
    keys = dict.keys()
    if n in keys:
      dict[n] +=1
    else:
      dict[n] = 1
  return dict
print (count_char(x))

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}

In [3]:
#3
x = [1,2,3,4,5,6,7,8]
print (sum(x))

36

In [4]:
#4
def change_char (str1):
  char = str1[0]
  str1 = str1.replace(char,'$')
  str1 = char + str1[1:]
  return str1
print (change_char('restart'))

resta$t

In [5]:
#5
def S(a,b):
  return 3.14 * (1 + a/b) ** 3
S (1,2)

10.5975

In [6]:
#6
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {**dic1, **dic2, **dic3}
print (dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
#7
tuplex = ("u", "n", "i", "v", "e", "r", "s", "i", "t", "y")
print ("e" in tuplex)
print ("a" in tuplex)

True
False

In [8]:
#8
x = set ([1,2,3,4,5,6,7,8,9,10]) #create a set
print (max(x))
print (min(x))

10
1

In [9]:
#9
import random
#sampling with replacement
studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range (4):
  sampling = random.choices(studnet_list, k=6)
  studnet_list = [i for i in studnet_list if i not in sampling]
  print ("Group" + str(i+1) + ": ", sampling)

Group1:  ['vk0222', 'sm1515', 'ag1121', 'lba0043', 'vcd0017', 'hn0139']
Group2:  ['nk0327', 'km0738', 'ss1976', 'nk0327', 'hr0178', 'am1823']
Group3:  ['al0787', 'vmb0067', 'ss1872', 'ap0975', 'vk0216', 'pb0283']
Group4:  ['dp1080', 'ry0104', 'mj0396', 'sa0753', 'ak0860', 'mj0396']